.sidebar
{
  float:right;
  width:30%;
}

.sidebarMenu {
    font-size:150%;
    background-color: blue;
}

.intro {
  color:blue;
  text-align: center;
  font-family: fantasy;
  font-size: 200%;
}

.shows {
  color:white;
  background-color:gray;
}

.introPic
{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.redrocks
{
  display:block;
  margin-left:auto;
  float:right;
}
